/*==============*/
/*GENERAL STYLES */
/*==============*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*, 
*:before, 
*:after {
    box-sizing: inherit;
    margin: 0;
} 

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

ul {
    list-style: none;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
}


#brand,
h1,
h2,
h3 {
    font-family: Times, serif;
    font-weight: 300;
}

h2 {
    font-size: 42px;
}

ul {
    padding: 0;
}


/*==============*/
/*NAVIGATION */
/*==============*/
nav {
    position: fixed;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    width: 100%;
    color: white;
    height: 120px;
    z-index: 99999;
}

#logo {
    width: 60px;
    margin: 10px 20px;
}

#brand {
    opacity: 0;
}

.nav-button {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 5px;
    border-radius: 4px;
}

.navbar-collapse {
    height: 0;
    background: #C6E2A5;
    font-size: 30px;
    padding: 0 20px 0;
    opacity: 0;
    transition: 200ms linear;
    display: none;
}

.toggle-nav {
    background: #C6E2A5;
    height: 90px;
    transition: none;
}

.burger-bar {
    transition-duration: 300ms;
}

.cross .burger-bar {
    background-color: white;
}

.cross > #bb-two {
    display: none;
}

.cross > #bb-one {
    transform: rotate(45deg) translate(6px, 7px);
    width: 31px;
    transition-duration: 300ms;
    background-color: black;
}

.cross > #bb-three {
    transform: rotate(-45deg);
    width: 31px;
    transition-duration: 300ms;
    background-color: black;
}

nav ul {
    padding: 20px 0 0;
    list-style: none;
    text-align: center;
    font-family: 'Manjari', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
}

nav a {
    color: black;
    font-weight: 200;
}

nav a:hover {
    color: black;
}

nav li {
    padding: 20px 0;
}

.toggle {
    height: 100vh;
    opacity: 1;
    width: 100vw;
    transition: 100ms linear 50ms;
    display: block;

}

.landing {
    background-size: cover;
    background-repeat: none;
    height: 55vh;
    border-bottom: 20px solid #E6E6E6;
    position: relative;
}

.home-caption {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 20px;
    right: 20px;
}

.thumbnail {
    position: relative;
}

.tour-badge {
    position: absolute;
    z-index: 1;
    background: #C6E2A5;
    color: #000;
    top: 10px;
    left: 10px;
    padding: 10px 18px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgb(69, 69, 69);
}


/*=============
FOOTER
==============*/
.footer {
    background:#0D1206;
    color: #F0EDED;
    text-align: center;
    padding: 40px;
}

.footer a {
    transition: 200ms linear;
}

.footer a:hover {
    color: #C6E2A5;
    transition: 200ms linear;
}

#otus {
    width: 60px;
}

.footer h3 {
    font-size: 35px;
    margin: 20px 0;
}

.col {
    margin: 40px 0;
}

.col p {
    margin: 10px;
}

.col2,
.col3 {
    display: none;
}

.icons {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto 0;
}

i {
    font-size: 30px;
    transition: 300ms linear;
}

i:hover {
    color: #C6E2A5;
    transition: 200ms linear;
    transform: translateY(-5px);
}

.copyright, 
.copyright a {
    color: rgba(255, 255, 255, 0.358);
}




@media (min-width: 768px) {
    .footer {
        padding: 60px;
    }
    .footer h3 {
        font-size: 50px;
    }
    .col {
        margin: 20px 0;
    }
    .col p {
        margin: 15px;
    }
    i {
        font-size: 35px;
    }
}
@media (min-width: 1200px) {
    .nav-button {
        display: none;
    }
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start; 
        padding-top: 28px;
    }
    #logo {
        position: absolute;
        top: 20px;
        left: 30px;
        margin: 0;
    }
    #brand {
        display: inline-block;
        color: white;
        opacity: 1;
        position: absolute;
        top: 30px;
        left: 120px;
        font-size: 30px;
    }
    .navbar-collapse {
        display: inline-block;
        opacity: 1;
        margin-right: 30px;
        height: auto;
        background: rgba(255, 255, 255, 0);
    }
    nav ul {
        display: flex;
        padding-top: 16px;
    }
    .navbar-nav li {
        margin-left: 30px;
        font-size: 15px;
        padding: 0;
        font-family: Raleway, sans-serif;
        letter-spacing: 0.04em; 
    }
    .navbar-nav a {
        color: white;
        font-weight: 300;
    }
    .navbar-nav a:hover {
        color: rgb(156, 186, 124);
        transition: 200ms linear;
    }
    .contact-button a {
        background: #C6E2A5;
        color: black;
        padding: 10px 18px;
        border-radius: 2px;
        box-shadow: 1px 1px 2px rgb(69, 69, 69);

    }
    .contact-button a:hover {
        color: black;
        background: rgb(156, 186, 124);
        transition: 200ms linear;
        box-shadow: 1px 1px 3px rgb(50, 50, 50);
    }
    .footer {
        padding: 60px 100px;
    }
    .flex-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        justify-content: space-between;
        align-items: flex-end;
    }
    .col1 {
        text-align: left;
    }
    .col1 h3 {
        font-size: 45px;
    }
    .col1 p {
        margin-left: 0
    }
    .icons {
        margin: 40px 0;
    }
    .col2,
    .col3 {
        display: block;
    }
    .col2 li,
    .col3 li {
        margin: 20px 0;
    }
    .col3 h4 {
        font-size: 18px;
    }
    .copyright {
        margin-top: 50px;
    }
}



