@import "general_nav.css";



/*========================================================*/
/*HOME PAGE */
/*========================================================*/

/* landing page */
.landing {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.42)), to(rgba(0, 0, 0, 0.42))), url('../images/indexImages/cover.jpeg');
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url('../images/indexImages/cover.jpeg');
    background: linear-gradient(to right, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)), url('../images/indexImages/cover.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 100vh;
    text-align: center;
}

.homepage-content {
    padding-top: 42vh;
    color: white;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.769);
}

h1 {
    font-size: 48px;
    margin-bottom: 12px;
}

.landing-text {
    font-size: 20px;
    max-width: 300px;
    margin: 0 auto 30px;
}

.learn {
    background: #C6E2A5;
    color: black;
    padding: 8px 15px;
    border-radius: 2px;
    text-shadow: none;
    transition: 400ms linear;
}

.learn:hover {
    background: rgb(156, 186, 124);
    transition: 200ms linear;
}

/* welcome text */
.welcome {
    border-top: 20px solid #E6E6E6;
}

.welcome h2 {
    margin: 40px auto 20px;
    line-height: 1.4;
}

.welcome img {
    width: 90%;
}

.welcome p {
    width: 80%;
    margin: 30px auto;
    line-height: 1.4;
    font-size: 18px;
}

/* upcoming trips */
.itineraries h2 {
    text-align: center;
    margin: 80px auto 12px;
}

hr {
    width: 90%;
    margin: 0 auto 30px;
}

/**** card styles */

.upcoming {
    margin: 30px;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.thumbnail {
    border: 1px solid #BCBCBC;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
}

.image-container {
    position: relative;
}

.image-container p {
    font-size: 14px;
}

.bird-name {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    z-index: 1000;
    color: white;
    padding: 40px 30px 20px;
    width: 100%;
    background-image: linear-gradient(rgba(13, 18, 6, 0),rgba(13, 18, 6, 0.7), rgba(13, 18, 6, 1));
}

.thumbnail img {
    width: 100%;    
}

.thumbnail-content {
    padding: 10px 20px;
    flex-direction: column;
}

.thumbnail h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

.thumbnail-content p {
    font-size: 16px;
    margin-bottom: 10px;
}

.thumbnail p:nth-child(3) {
    margin-bottom: 30px;
}

.thumbnail a {
    background-color: #0D1206;
    padding: 8px 15px;
    border-radius: 2px;  
}


/* newsletter & group image */
.newsletter {
    background: #C6E2A5;
    padding: 50px 30px;
    text-align: center;
}

.newsletter p {
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"],
input[type="text"] {
    font-family: Raleway, sans-serif;
    font-size: 15px;
}

input[type="text"] {
    padding: 8px 12px;
    border-radius: 2px;
    border: none;
}

input[type="submit"]{
    background: #0D1206;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 2px;
}

.group-image {
    background: url('../images/indexImages/happyGroup.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 60vh;
}



@media (min-width: 768px) {
    h1 {
        font-size: 90px;
        margin-bottom: 18px;
    }
    .landing-text {
        font-size: 35px;
        max-width: 450px;
        margin: 0 auto 50px;
    }
    .learn {
        font-size: 20px;
        padding: 10px 30px;
        font-weight: 300;
    }
    h2 {
        font-size: 55px;
    }
    .welcome img {
        width: 85%;
    }
    .welcome p {
        width: 75%;
        margin: 30px auto;
        line-height: 1.5;
        font-size: 18px;
    }
    .itineraries {
        padding-bottom: 60px;
    }
    .itineraries h2 {
        margin: 150px auto 18px;
    }
    hr {
        width: 85%;
        margin: 0 auto 60px;
    }
    .thumbnail {
        max-width: 500px;
    }
    .image-container p {
        font-size: 16px;
    }
    .thumbnail-content {
        padding: 15px 25px;
    }
    .thumbnail h3 {
        font-size: 30px;
    }
    .thumbnail-content p {
        font-size: 18px;
    }
    .thumbnail a {
        padding: 12px 18px;
        font-size: 18px;
    }
    .newsletter {
        padding: 60px 0;
    }
    .newsletter p {
        margin-bottom: 25px;
        font-size: 20px;
    }
    input[type="text"],
    input[type="submit"] {
        font-size: 18px;
        margin: 0 5px;
    }
    
}
@media (min-width: 1200px) {
    h1 {
        font-size: 120px;
    }
    .learn {
        padding: 10px 40px;
    }
    h2 {
        font-size: 60px;
    }
    .welcome h2 {
        padding: 80px 0 30px;
        text-align: center;
    }
    .welcome {
        width: 100%;
    }
    .welcome img{
        float: left;
        width: 50%;
        margin-right: 50px;
    }
    .itineraries {
        padding-bottom: 150px;
    }
    .itineraries h2 {
        padding-top: 200px;
        clear: left;
    }
    .upcoming {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        margin: 100px;
    }
    .thumbnail .thumbnailImg {
        transform: scale(1.0);
        transition: 300ms ease-in-out;
    }
    .thumbnail:hover .thumbnailImg {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
    }
    .image-container {
        overflow: hidden;
    }
    .thumbnail h3 {
        font-size: 25px;
    }
    .thumbnail-content p {
        font-size: 20px;
    }
    .thumbnail a {
        padding: 8px 20px;
        font-size: 18px;
    }
    .newsletter {
        font-size: 20px;
        padding: 100px 0;
    }
    input[type="text"],
    input[type="submit"] {
        padding: 8px 20px;
        font-weight: 300;
    }
   
}


