@import "general_nav.css";



.info-landing {
    background: url('../images/info/cover.jpg');
}

.landing {
    background-position: top;
    background-size: cover;
    background-repeat: none;
    border-bottom: 20px solid #E6E6E6;
}

.information {
    width: 80%;
    margin: 0 auto 100px;
}

.information aside {
    display:none;
}

.information h2 {
    padding-top: 100px;
}

.information hr {
    margin-bottom: 50px;
}

.information h3 {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

.information p,
.topic {
    margin-bottom: 30px;
}

.information a {
    color:black;
    font-style: italic;
}


@media (min-width: 768px){
    .information h2 {
        padding-bottom: 20px;
        text-align: center;
    }
    .information hr {
        margin-bottom: 80px;
    }
}
@media (min-width: 900px){
    .with-nav {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .information aside {
        display: block;
    }
    .aside-nav li {
        padding: 12px 20px;
        border-radius: 5px;
        width: 90%;
    }
    .aside-nav a {
        font-weight: 600;
    }
    .aside-nav li:hover {
        background: #C6E2A5;
    }
}