@import "general_nav.css";


/*==============*/

.itineraties-landing {
    background: url('../images/itineraries/cover.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: none;
    height: 40vh;
    border-bottom: 20px solid #E6E6E6;

}

.itineraries h2 {
    text-align: center;
    margin: 100px auto 12px;
}

hr {
    width: 90%;
    margin: 0 auto 30px;
}





.upcoming {
    margin: 30px;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.thumbnail {
    display: block;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    min-height: 100%;
}

.image-container {
    position: relative;
}

.image-container p {
    font-size: 14px;
}

.bird-name {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    z-index: 1000;
    color: white;
    padding: 40px 30px 20px;
    width: 100%;
    background-image: linear-gradient(rgba(13, 18, 6, 0),rgba(13, 18, 6, 0.7), rgba(13, 18, 6, 1));
}

.thumbnail img {
    width: 100%;    
}

.thumbnail-content {
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 100px 65px 40px;
}

.thumbnail h3 {
    font-size: 26px;
    color: black;
}

.thumbnail-content {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

.tour-button {
    background-color: #0D1206;
    color: white;
    padding: 8px 15px;
    border-radius: 2px;  
    width: 150px;
    text-align: center;
}

/* .image-container {
    position: relative;
}

.image-container p {
    font-size: 14px;
}

.bird-name {
    position: absolute;
    bottom: -10px;
    left: 0;
    text-align: right;
    z-index: 1000;
    color: white;
    padding: 40px 30px 20px;
    width: 100%;
    background-image: linear-gradient(rgba(13, 18, 6, 0),rgba(13, 18, 6, 0.7), rgba(13, 18, 6, 1));
}

.thumbnail {
    border: 1px solid #BCBCBC;
    width: 85%;
    margin: 40px auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
}

.thumbnail img {
    width: 100%;    
}

.thumbnail-content {
    padding: 10px 20px;
    flex-direction: column;
}

.thumbnail h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

.thumbnail p {
    font-size: 16px;
    margin-bottom: 10px;
}

.thumbnail p:nth-child(3) {
    margin-bottom: 30px;
}

.thumbnail a {
    background-color: #0D1206;
    padding: 8px 15px;
    border-radius: 2px;  
} */

.group-image {
    background: url('../images/itineraries/group.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 60vh;
}

/* indevidual trip styles  */
.trip {
    width: 80%;
    margin: 0 auto 100px;
}

.trip img {
    width: 100%;
}

.trip-image {
    position: relative;
}

.trip-image .bird-name {
    bottom: 0;
}

.trip div {
    margin-bottom: 30px;
}

.trip h1 {
    margin: 80px 0 30px;
    font-size: 35px;
}

.trip-info p {
    padding: 5px 0;
    font-size: 16px;
}

.trip-description p {
    line-height: 1.5;
    font-size: 14px;
}

.trip-buttons a {
    background-color: green;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.trip h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.trip iframe {
    width: 100%;
}


@media (min-width: 768px){
    .itineraties-landing {
        height: 50vh;
    }
    .upcoming {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .image-container {
        overflow: hidden;
    }
    .image-container p {
        font-size: 16px;        
    }
    .thumbnail-content {
        padding: 15px 25px;
    }
    .thumbnail h3 {
        font-size: 30px;
    }
    .thumbnail-content p {
        font-size: 18px;
    }
    .thumbnail a {
        padding: 12px 18px;
        font-size: 18px;
    }
    .thumbnail .thumbnailImg {
        transform: scale(1);
        transition: transform 400ms ease-in-out;
    }
    .thumbnail:hover .thumbnailImg {
        transform: scale(1.1);
        transition: transform 400ms ease-in-out;
    }
    .trip h1 {
        font-size: 45px;
    }
    .trip-description p {
        font-size: 16px;
    }
    .trip div {
        margin-bottom: 50px;
    }
    .trip img{
        width: 50%;
        float: right;
        margin: 0 0 30px 30px;
    }
    .trip-buttons a {
        padding: 10px 12px;
        font-size: 16px;
    }
}
@media (min-width: 1200px){
    .upcoming {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 80px;
    }
    .itineraries {
        padding-bottom: 150px;
    }
    .itineraries h2 {
        font-size: 60px;
        padding-top: 50px;
    }
    .thumbnail {
        max-width: 350px;
    }
    .thumbnail h3 {
        font-size: 25px;
    }
    .thumbnail a {
        padding: 8px 20px;
    }
}