@import "general_nav.css";


/*==============*/

.itineraties-landing {
    background-image: url('../images/itineraries/Yellow-winged\ Cacique.jpg');
    background-position: 0 12%;
}


.texas-landing {
    background-image: url('../images/itineraries/Red-billed\ Pigeon.jpg');
    background-position: 0 18%;
}

.cambodia-landing {
    background-image: url('../images/itineraries/CambodiaSunset.png');
    background-position: 0 70%;
}

.sanblas-landing {
    background-image: url('../images/itineraries/Mangrove\ Swallow.jpg');
    background-position: 100% 20%;
}

.oaxaca-landing {
    background-image: url('../images/itineraries/Orange-chinned\ Parakeet.jpg');
    background-position: 100% 40%;
}

.colombia-landing {
    background-image: url('../images/itineraries/Ruddy\ Ground-Dove.jpg');
    background-position: 100% 15%;
}

.southafrica-landing {
    background-image: url('../images/itineraries/African\ Penguin.jpg');
    background-position: 100% 65%;
}

.inirida-landing {
    background-image: url('../images/itineraries/Enjoying\ Inirida\ -\ Inirida.jpg');
    background-position: 100% 40%;
}

.itineraries h2 {
    text-align: center;
    margin: 100px auto 12px;
}

hr {
    width: 90%;
    margin: 0 auto 30px;
}

.upcoming {
    margin: 30px;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
}

.thumbnail {
    display: block;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    min-height: 100%;
    min-width: 100%;
}

.image-container {
    position: relative;
}

.image-container p {
    font-size: 14px;
}

.bird-name {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    z-index: 1000;
    color: white;
    padding: 40px 30px 20px;
    width: 100%;
    background-image: linear-gradient(rgba(13, 18, 6, 0),rgba(13, 18, 6, 0.7), rgba(13, 18, 6, 1));
}

.thumbnail img {
    width: 100%;  
    min-height: 100%;  
}

.thumbnail-content {
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 100px 65px 40px;
}

.thumbnail h3 {
    font-size: 26px;
    color: black;
}

.thumbnail-content {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

.tour-button {
    background-color: #0D1206;
    color: white;
    padding: 8px 15px;
    border-radius: 2px;  
    width: 150px;
    text-align: center;
}

.tour-button:hover,
.trip-buttons a:hover {
    background: rgb(35, 48, 16);
    transition: 200ms linear;
}


.group-image {
    background: url('../images/itineraries/group.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 60vh;
}

/* individual trip styles  */
.trip {
    width: 80%;
    margin: 0 auto 100px;
}

.trip img {
    width: 100%;
}

.trip-image p {
    text-align: right;
    font-style: italic;
}

.trip div {
    margin-bottom: 30px;
}

.trip h1 {
    margin: 80px 0 30px;
    font-size: 35px;
}

.trip-info p {
    padding: 5px 0;
    font-size: 16px;
}

.trip-description p {
    line-height: 1.5;
    font-size: 14px;
}

.trip-buttons a {
    background-color: #0D1206;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.trip h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.trip-description ul {
    margin: 20px 0;
    font-size: 14px;
}

.trip-description li {
    line-height: 1.5;
    margin: 8px 0;
}

.trip iframe {
    width: 100%;
}


@media (min-width: 768px){
    .itineraties-landing {
        height: 55vh;
    }
    .upcoming {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .image-container {
        overflow: hidden;
    }
    .image-container p {
        font-size: 16px;        
    }
    .trip-description ul {
        font-size: 16px;
    }
    .thumbnail-content {
        padding: 15px 25px;
    }
    .thumbnail h3 {
        font-size: 30px;
    }
    .thumbnail-content p {
        font-size: 18px;
    }
    .thumbnail a {
        padding: 12px 18px;
        font-size: 18px;
    }
    .thumbnail img {
        transform: scale(1.0);
        transition: 300ms ease-in-out;
    }
    .thumbnail:hover img {
        transform: scale(1.1);
        transition: 300ms ease-in-out;
    }
    .trip h1 {
        font-size: 45px;
    }
    .trip-description p {
        font-size: 16px;
    }
    .trip div {
        margin-bottom: 30px;
    }
    .trip-image {
        width: 50%;
        float: right;
        margin: 0 0 30px 30px;
    }
    .trip-buttons a {
        padding: 10px 12px;
        font-size: 16px;
    }
}
@media (min-width: 1200px){
    .upcoming {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        margin: 100px;
    }
    .itineraries {
        padding-bottom: 150px;
    }
    .thumbnail {
        max-width: 350px;
    }
    .thumbnail h3 {
        font-size: 25px;
    }
    .thumbnail a {
        padding: 8px 20px;
    }
}