@import "general_nav.css";


.past-trips-landing {
    background: url('../images/pastTrips/IMG_3231.jpg');
    background-position: 50% 18%;
    background-size: cover;
    background-repeat: none;
    border-bottom: 20px solid #E6E6E6;
}


.past-trips h2 {
    text-align: center;
    margin: 100px auto 12px;
}

hr {
    width: 80%;
    margin: 0 auto 30px;
}

.past-trips-content {
    display: grid;
    justify-content: space-around;
    grid-gap: 30px;
    padding: 30px 0 100px;
}

.card {
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    display: grid;
    justify-content: center;
    box-shadow: 1px 1px 4px gray;
    background-size: cover;
    background-repeat: none;
}

.bc-sur {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Spotted\ Towhee.jpg');
}

.mw {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Bohemian\ Waxwing.jpg');
}

.morocco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Crimson-winged\ Finch.jpg');
}

.eduador {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Bar-bellied\ Woodpecker.jpg');
}

.colombia {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/colombia2019/Masked\ Trogon.jpg');
}

.utah_navada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/utah_navada/Mountain\ Goat.jpg');
}

.india {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/india/In\ line\ at\ the\ market.jpg');
}

.alaska {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/alaska/Spectacled\ Eider\ by\ Jim\ Guyton.jpeg');
}

.cuba {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/cuba/Fernandina\'s\ Flicker.jpg');
}

.colorado {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/colorado/Greater\ Sage-Grouse.jpg');
}

.so-cal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/so-cal/Mountain\ Quail.jpg');
}

.texas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/texas/Mexican\ Jay.jpg');
}

.santamarta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/santamarta/Vermillion\ Cardinal.jpg');
}

.sanblas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/sanblas/Lesser\ Ground-Cuckoo.jpg');
}

.oaxaca {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/oaxaca/White-bellied\ Chachalaca.jpg');
}

.cambodia {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/cambodia/monkey.jpg');
}

.texasriogrande {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/texas-rio-grande/Barn\ Owl.jpg');
}

.capemay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/trips/cape-may/Clapper Rail.jpg');
}


.morocco-landing {
    background: url('../images/trips/Camel\ caravan\ near\ Erg\ Chebbi.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.mw-landing {
    background: url('../images/trips/mw/Snowy\ Owl-cover.jpg');
    background-position: 50% 30%;
}

.baja-landing {
    background: url('../images/trips/baja-california/cover.jpg');
    background-position: 50% 30%;
}

.ecuador-landing {
    background: url('../images/pastTrips/A\ view\ of\ Sacha\ Lodge.jpg');
    background-position: 50% 35%;
    background-size: cover;
}

.colombia-landing {
    background: url('../images/pastTrips/Chestnut-crested\ Cotinga.jpg');
    background-position: 50% 20%;
    background-size: cover;
}

.utah-navada-landing {
    background: url('../images/pastTrips/A\ view\ of\ Utah\ Lake\ from\ Soldier\'s\ Pass.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.india-landing {
    background: url('../images/pastTrips/Demoiselle\ Cranes.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.alaska-landing {
    background: url('../images/pastTrips/Westchester\ Lagoon\ in\ Anchorage.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.cuba-landing {
    background: url('../images/pastTrips/Cuban\ Parrot.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.colorado-landing {
    background: url('../images/pastTrips/Sunset\ in\ the\ Rockies.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.so-cal-landing {
    background: url('../images/pastTrips/Birding\ at\ Joshua\ Tree.jpg');
    background-position: 50% 40%;
    background-size: cover;
}

.texas-hill-landing {
    background: url('../images/pastTrips/Black-bellied\ Whistling-Ducks.jpg');
    background-position: 50% 20%;
    background-size: cover;
}

.santamarta-landing {
    background: url('../images/pastTrips/IMG_5361.jpg');
    background-position: 50% 40%;
    background-size: cover;
}

.sanblas-landing {
    background: url('../images/pastTrips/Red\ Warbler.jpg');
    background-position: 50% 60%;
    background-size: cover;
}

.oaxaca-chiapas-landing {
    background: url('../images/pastTrips/Nava\'s\ Wren.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.cambodia-landing {
    background: url('../images/pastTrips/cambodia_cover.jpg');
    background-position: 50% 35%;
    background-size: cover;
}

.texasriogrande-landing {
    background: url('../images/pastTrips/Burrowing\ Owl.jpg');
    background-position: 50% 35%;
    background-size: cover;
}

.capemay-landing {
    background: url('../images/pastTrips/Shorebirds at Stone Point.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.past-trips h3 {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    padding-bottom: 10px;
    align-self: flex-end;
}

.card p {
    font-size: 24px;
}

div.card {
    padding: 10px;
    margin: 0 10px;
    max-width: 300px;
}


/* individual trip styles */

.images {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
}

.images div {
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.images div img {
    height: 100%;
    width: 100%;
}


.past-trip {
    width: 80%;
    margin: 40px auto 100px;
}

.past-trip h1 {
    font-size: 40px;
}

.past-trip h2 {
    font-family: Raleway, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.past-trip a {
    background: rgb(6, 29, 6);
    color: white;
    border-radius: 2px;
    padding: 10px 12px;
}


.title-grid .heading,
.title-grid {
    margin-bottom: 30px;
}



.title-grid a {
    align-self: flex-end;
    justify-self: flex-end;
    box-shadow: 1px 1px 3px gray;
    display: block;
    max-width: 162px;
    margin: 5px;
}

/* lightbox styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    margin: 50px auto 0;
    padding: 50px 0 0;
    width: 100%;
    max-width: 1200px;
  }

  
  .close {
    color: white;
    position: absolute;
    top: 130px;
    right: 30px;
    font-size: 45px;
    font-weight: bold;
    z-index: 99999;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    cursor: pointer;
  }
  
.slide {
    display: none;
    position: relative;
}

.caption {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.slide img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 180px;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
.active {
    opacity: 1;
  }
  
.images div {
    transition: 0.3s;
  }
  
.images div:hover {
    box-shadow: 2px 4px 8px 0 rgb(97, 97, 97);
  }




@media (min-width: 768px){
    .images {
        grid-template-columns: repeat(4, 1fr);
    }
    .past-trips-content {
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 160px;
    }
    .past-trip h1 {
        font-size: 50px;
    }
    .past-trip h2 {
        text-align: left;
    }
    .card {
        width: 300px;
        height: 300px;
    }
    .past-trips-content a {
        justify-self: center;
    }
     .modal-content {
        margin: auto;
        width: 70%;
    }
    .close {
        top: 130px;
        right: 100px;
    } 
    .prev,
    .next {
        top: 300px;  
    }
}
@media (min-width: 1000px){
    .images {
        grid-template-columns: repeat(6, 1fr);
    }
    .past-trip h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    .heading p {
        font-size: 26px;
    }
    .past-trips-content {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }
    .image-gallery {
        max-width: 1200px;
        margin: 0 auto;
    }
    .modal-content {
        width: 50%;
    }
    .prev,
    .next {
        top: 350px;  
    }
    .title-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .links {
        align-self: flex-end;
        justify-self: flex-end;
    }
}
