@import "general_nav.css";


.past-trips-landing {
    background: url('../images/pastTrips/IMG_3231.jpeg');
    background-position: 50% 18%;
    background-size: cover;
    background-repeat: none;
    height: 50vh;
    border-bottom: 20px solid #E6E6E6;
}


.past-trips h2 {
    text-align: center;
    margin: 100px auto 12px;
}

hr {
    width: 80%;
    margin: 0 auto 30px;
}

.past-trips-content {
    display: grid;
    justify-content: center;
    grid-gap: 30px;
    padding: 30px 0 100px;
}

.card {
    min-width: 300px;
    min-height: 300px;
    text-align: center;
    display: grid;
    justify-content: center;
    box-shadow: 1px 1px 4px gray;
    background-size: cover;
    background-repeat: none;
}

.bc-sur {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Spotted\ Towhee.jpeg');
}

.mw {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Bohemian\ Waxwing.jpeg');
}

.morocco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Crimson-winged\ Finch.jpeg');
}

.morocco-landing {
    background: url('../images/trips/morocco/Camel\ caravan\ near\ Erg\ Chebbi.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: none;
    height: 50vh;
    border-bottom: 20px solid #E6E6E6;
}

.eduador {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('../images/pastTrips/Bar-bellied\ Woodpecker.jpeg');
}

.past-trips h3 {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    padding-bottom: 10px;
    align-self: flex-end;
}

.card p {
    font-size: 24px;
}



/* individual trip styles */


.images {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
}

.images div {
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.past-trip {
    width: 80%;
    margin: 40px auto 100px;
}

.past-trip h1 {
    font-size: 40px;
}

.past-trip h2 {
    font-family: Raleway, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.past-trip a {
    background: rgb(6, 29, 6);
    color: white;
    border-radius: 2px;
    padding: 10px 12px;
}

.title-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title-grid a {
    align-self: flex-end;
    justify-self: flex-end;
    box-shadow: 1px 1px 3px gray;
}

/* lightbox styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    margin: 50px auto 0;
    padding: 50px 0 0;
    width: 100%;
    max-width: 1200px;
  }

  
  .close {
    color: white;
    position: absolute;
    top: 130px;
    right: 30px;
    font-size: 45px;
    font-weight: bold;
    z-index: 99999;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    cursor: pointer;
  }
  
.slide {
    display: none;
    position: relative;
}

.caption {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.slide img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 180px;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
.active {
    opacity: 1;
  }
  
.images div {
    transition: 0.3s;
  }
  
.images div:hover {
    box-shadow: 2px 4px 8px 0 rgb(97, 97, 97);
  }




@media (min-width: 768px){
    .images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5px;
    }
    .past-trips-content {
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 160px;
    }
    .past-trip h1 {
        font-size: 50px;
    }
    .past-trip h2 {
        text-align: left;
    }
    .card {
        width: 300px;
        height: 300px;
    }
    .past-trips-content a {
        justify-self: center;
    }
     .modal-content {
        margin: auto;
        width: 70%;
    }
    .close {
        top: 130px;
        right: 100px;
    } 
    .prev,
    .next {
        top: 300px;  
    }
}
@media (min-width: 1000px){
    .images {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
    }
    .past-trip h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    .heading p {
        font-size: 26px;
    }
    .past-trips-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .modal-content {
        width: 50%;
    }
    .prev,
    .next {
        top: 350px;  
    }
}
