<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Katie Hansen">
    <meta name="description" content="Otus asio Tours">
    <meta name="keywords" content="Otus asio Tours, birdwatching tours, bird watching tours, birding tours, Jan Hansen, birding tours to mexico, birding tours in the U.S., birding tours to mexico, birding tours to central america, guided birding tours, birding tours chapel hill north carolina, biring tours around the world" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otus asio Tours | Past Trips</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100i,200,300,400,500,600|Vollkorn:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/itineraries.css">
  </head>
<body>
    <header>
        <nav class="navbar">
          <a href="../../index.html#home" title="link to home page"><img src="../../images/logo.png" id="logo" alt="Otus asio Tours logo"></a>
          <a class="navbar-brand" href="../../index.html" id="brand">Otus asio Tours</a>
          <button class="nav-button" aria-label="navigation toggle">
              <div class="burger-bar" id="bb-one"></div>
              <div class="burger-bar" id="bb-two"></div>
              <div class="burger-bar" id="bb-three"></div>
          </button>
  
          <div class="navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../../index.html#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../itineraries.html">Upcoming Trips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../info.html">Tour Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../pastTrips.html">Past Trips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../about.html">About</a>
              </li>
              <li class="nav-item contact-button">
                <a class="nav-link" href="../contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
  <main>
      <section class="itineraties-landing landing" id="itineraries-landing">
        <div class='home-caption'>Caption</div>
      </section>

      <section class='trip'>
        <h1>Trip Name</h1>

        <div class='trip-header'>
          <div class="trip-info">
              <p>Date</p> 
              <p>Leader: Jan Hansen</p>
              <p>Price</p>
          </div>

          <div class="trip-buttons">
            <a href="#" target="_blank">View Itinerary</a>
            <a class="register" href="../../documents/GeneralRegistrationForm 2.pdf" target="_blank">Registration Form</a>
          </div>
        </div>

        <div class="trip-image">
          <img src="#" alt="">
          <p>Caption</p>
        </div>

        <div class="trip-description">
         <p></p>
        </div>

        <div class="map">
          <h3>Tour Map</h3>
        </div>
    </section>
  </main>

  <footer class="footer">
      <div class="flex-container">
          <div class="col col1">
              <img src="../../images/logo.png" id="otus" alt="Otus asio Tours logo">
              <h3 class="name">Otus asio Tours</h3>
              <p><a href="mailto:otusasiotours@gmail.com">otusasiotours@gmail.com</a></p>
              <p>(919) 259-9423</p>
              <div class="icons">
                  <div class="facebook">
                      <a href="https://www.facebook.com/otusasiotours/" aria-label="Visit the Otus asio Tours Facebook page" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="instagram">
                      <a href="https://www.instagram.com/otus.asio.tours/" aria-label="Visit the Otus asio Tours Instagram page" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <div class="linkedin">
                      <a href="https://www.linkedin.com/in/jan-hansen-b2587a78/" aria-label="Visit the Otus asio Tours LinkedIn page" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
          <div class="col col2">
              <h4>Main Menu</h4>
              <ul class="footer-nav">
                  <li class='footer-nav-link'>
                      <a href="../../index.html">Home</a>
                  </li>
                  <li>
                      <a href="../itineraries.html">Upcoming Trips</a>
                  </li>
                  <li>
                      <a href="../info.html">Tour Info</a>
                  </li>
                  <li>
                      <a href="../pastTrips.html">Past Trips</a>
                  </li>
                  <li>
                      <a href="../about.html">About</a>
                  </li>
                  <li>
                      <a href="../contact.html">Contact Us</a>
                  </li>
              </ul>
          </div>
          <div class="col col3">
              <h4>Upcoming Trips</h4>
              <ul class="footer-trips" id="js-footer-trips"></ul>
          </div>
      </div>
      <p class="copyright">Otus asio Tours LLC | website by <a href="http://www.katiewrennhansen.com" target="_blank">katiewrennhansen</a></p>
  </footer>

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>    
    <script type="text/javascript" src="../index.js"></script>
    <script type="text/javascript" src="../../data/upcoming_trips.js"></script>
    <script type="text/javascript" src="../../data/footer.js"></script>
</body>
</html>