<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Katie Hansen">
    <meta name="description" content="Otus asio Tours">
    <meta name="keywords" content="Otus asio Tours, birdwatching tours, bird watching tours, birding tours, Jan Hansen, birding tours to mexico, birding tours in the U.S., birding tours to mexico, birding tours to central america, guided birding tours, birding tours chapel hill north carolina, biring tours around the world" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otus asio Tours |  </title>
    <link rel="shortcut icon" type="image/x-icon" href="../../images/logo.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100i,200,300,400,500,600|Vollkorn:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/pastTrips.css">
  </head>
<body>
    <header>
        <nav class="navbar">
          <a href="../../index.html#home" title="link to home page"><img src="../../images/logo.png" id="logo" alt="Otus asio Tours logo"></a>
          <a class="navbar-brand" href="../../index.html" id="brand">Otus asio Tours</a>
          <button class="nav-button" aria-label="navigation toggle">
              <div class="burger-bar" id="bb-one"></div>
              <div class="burger-bar" id="bb-two"></div>
              <div class="burger-bar" id="bb-three"></div>
          </button>
  
          <div class="navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../../index.html#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../itineraries.html">Upcoming Trips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../info.html">Tour Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../pastTrips.html">Past Trips</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../about.html">About</a>
              </li>
              <li class="nav-item contact-button">
                <a class="nav-link" href="../contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
  <main>
    <section class="-landing landing" id="-landing">
      <div class='home-caption'></div>
    </section>

    <section class='past-trip'>
        <div class="title-grid">
        <div class="heading">
            <h1>Title</h1>
            <p>Date</h3>
        </div>

       <a href="../../triplists" target="_blank">View Trip List</a>
        </div> 
       <div class="image-gallery">
        <h2>Photo Gallery </h2>
        <div class="images">
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(1)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(2)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(3)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(4)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(5)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(6)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(7)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(8)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(9)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(10)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(11)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(12)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(13)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(14)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(15)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(16)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(17)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(18)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(19)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(20)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(21)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(22)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(23)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(24)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(25)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(26)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(27)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(28)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(29)" class="hover-shadow">
            </div>
            <div>
                <img src="../../images/trips" onclick="openModal();currentSlide(30)" class="hover-shadow">
            </div>

        </div>
    </div>

        <div id="modal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>

            <div class="modal-content">

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
            
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
            
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
            
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>

                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                <div class="slide">
                    <img src="../../images/trips">
                    <p class="caption"></p>
                </div>
                    


            
                <!-- Next/previous controls -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        <div>

    </section>


  </main>

  <footer class="footer">
      <div class="flex-container">
          <div class="col col1">
              <img src="../../images/logo.png" id="otus" alt="Otus asio Tours logo">
              <h3 class="name">Otus asio Tours</h3>
              <p><a href="mailto:otusasiotours@gmail.com">otusasiotours@gmail.com</a></p>
              <p>(919) 259-9423</p>
              <div class="icons">
                  <div class="facebook">
                      <a href="https://www.facebook.com/otusasiotours/" aria-label="Visit the Otus asio Tours Facebook page" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="instagram">
                      <a href="https://www.instagram.com/otus.asio.tours/" aria-label="Visit the Otus asio Tours Instagram page" target="_blank"><i class="fab fa-instagram"></i></a>
                  </div>
                  <div class="linkedin">
                      <a href="https://www.linkedin.com/in/jan-hansen-b2587a78/" aria-label="Visit the Otus asio Tours LinkedIn page" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
          <div class="col col2">
              <h4>Main Menu</h4>
              <ul class="footer-nav">
                  <li class='footer-nav-link'>
                      <a href="../../index.html">Home</a>
                  </li>
                  <li>
                      <a href="../itineraries.html">Upcoming Trips</a>
                  </li>
                  <li>
                      <a href="../info.html">Tour Info</a>
                  </li>
                  <li>
                      <a href="../pastTrips.html">Past Trips</a>
                  </li>
                  <li>
                      <a href="../about.html">About</a>
                  </li>
                  <li>
                      <a href="../contact.html">Contact Us</a>
                  </li>
              </ul>
          </div>
          <div class="col col3">
              <h4>Upcoming Trips</h4>
              <ul class="footer-trips" id="js-footer-trips"></ul>
          </div>
      </div>
      <p class="copyright">Copyright Otus asio Tours LLC 2019 | <a href="http://www.otusasiotours.com" target="_blank">otusasiotours.com</a></p>
  </footer>


    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>    
    <script type="text/javascript" src="../../index.js"></script>
    <script type="text/javascript" src="../../data/upcoming_trips.js"></script>
    <script type="text/javascript" src="../../data/footer.js"></script>
</body>
</html>